* {
	border: 0;
}
html {
	font-size: 10px;
}
:root {
	--background: linear-gradient(#1597e5, #69dadb);
}
body {
	height: 100%;
	background: var(--background);
}
.musicas {
	background: transparent;
}
.descricao {
	font-size: 2.4rem;
	min-height: 80vh;
	background: #0f38ce8f;
	color: #000;
	font-weight: 600;
}
.descricao h5 {
	font-weight: 900;
	font-size: 3.8rem;
}
.descricao .card-img-top {
	min-width: 100%;
	min-height: 20%;
	max-height: 25%;
}
.descricao a {
	color: #c71919;
}
.margin {
	padding-top: 1%;
}
li {
	list-style: none;
	text-decoration: underline;
	font-size: 30px;
	cursor: pointer;
	transition: 0.5s;
}
li:hover {
	transform: scale(1.2);
}
h3 {
	all: initial;
	font-family: sans-serif;
	font-size: 4rem;
	font-weight: bold;
}
ul {
	text-align: center;
}
.musica-geral {
	display: flex;
	justify-content: center;
	background-color: rgba(0, 0, 0, 0.473);
	z-index: 10;
	position: fixed;
	width: 100%;
	height: 100%;
}
.informacoes-musica {
	background-color: #90f2ff;
	border-radius: 50px;
	padding: 5%;
	margin-top: 10%;
	margin-bottom: 15%;
	width: 60%;
	overflow-y: scroll;
}

.informacoes-musica * {
	display: block;
}
.informacoes-musica > h4 {
	all: initial;
	display: block;
	font-weight: bold;
	font-size: 6rem;
	font-family: sans-serif;
}
.informacoes-musica > h5 {
	all: initial;
	display: block;
	font-size: 5rem;
	font-family: sans-serif;
}
.informacoes-musica > h6 {
	all: initial;
	display: block;
	font-size: 4rem;
	font-family: sans-serif;
}
.informacoes-musica > a {
	font-size: 5rem;
	font-family: sans-serif;
}
.informacoes-musica > P {
	font-size: 2rem;
}
.informacoes-musica .fechar {
	position: fixed;
	font-size: 5rem;
	font-weight: bold;
	color: #c71919;
	width: 8rem;
	left: 70%;
}
/* width */
::-webkit-scrollbar {
	width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	background: var(--background);
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #113cfc;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #193498;
}
