html {
	font-size: 10px;
}

.estrelas img {
	width: 4rem;
	height: auto;
	background-color: #fff;
}

.estrelas img:hover ~ img {
	background-color: #fff;
}
.estrelas:hover img {
	background-color: rgb(245, 223, 101);
}
span {
	font-size: 2.5rem;
}
.musica {
	display: inline-block;
	width: 12%;
	margin: 2%;
}
form {
	float: right;
}
form > * {
	font-size: 1.8rem;
}
