* {
	border: 0;
	font-size: 17px;
}
body {
	background: #00022e;
	color: #fff;
}
section {
	display: flex;
	flex-direction: row;
}
nav {
	position: relative;
	width: 96%;
	height: auto;

	background: #0f9a68;
	color: black;
	margin-right: 0%;
	min-height: 72%;
}
.banda {
	position: relative;
	width: 62px;
	height: 54px;
	left: 5px;
	top: 954px;
}
.imgbanda {
	position: relative;

	width: 97%;
	height: auto;

	border: 10px solid #000000;
	box-sizing: border-box;
}
article {
	width: 99.5%;
	height: 71%;
	border: solid 2px black;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

footer {
	width: 99.5%;
	height: 28%;
	border: solid black;
	background: #0f9a68;
	text-align: center;
}
header {
	text-align: center;
	color: black;
	font-size: 30px;
	margin-top: 10px;
}
.pintegre {
	border: solid black;
	margin: 10px 10px 10px 10px;
}

.esquerda {
	width: 29.5vw;
	height: 95vh;
}
.direita {
	width: 66vw;
	height: 100vh;
}
.disco > img {
	margin-right: 33%;
	border: solid;
	width: 100%;
	height: 100%;
}
.disco {
	height: 25%;
	width: 20%;
	margin-right: 4%;
	margin-left: 7.5%;
}
